In [14]:
import sqlite3
import pandas as pd
import os

# Set the same DB path used in Flask
project_dir = r"C:\Users\User\Desktop\BAN6420FinalProjectFlaskHealthcareApplication"
DB_PATH = os.path.join(project_dir, "data", "Survey.db")

# Connect to the correct database
conn = sqlite3.connect(DB_PATH)

# Load data
df = pd.read_sql_query("SELECT * FROM participant", conn)

conn.close()
df

,id,name,age,gender,total_income,utilities,entertainment,school_fees,shopping,healthcare
0,1,texter,23,Female,23,23333,223,332,2223,223