In [1]:
import sqlite3
import pandas as pd

# Connect to the SQLite database file
conn = sqlite3.connect("survey.db")

# Load data from the participants table into a DataFrame
df = pd.read_sql_query("SELECT * FROM participant", conn)

# Close the connection
conn.close()

# Display data
df

,id,name,age,gender,total_income,utilities,entertainment,school_fees,shopping,healthcare
0,1,Kalistack,34,Male,12,123.0,1233.0,1223.0,111.0,111.0